name: test

on:
  push:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Monorepo
        uses: actions/checkout@v4

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.9.0
        with:
          enable-cache: true

      - name: Mount golang cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/golangci-lint
            ~/.cache/go-build
            ~/go/pkg
          key: ${{ runner.os }}-tests-${{ hashFiles('**/*.sum') }}
          restore-keys: |
            ${{ runner.os }}-tests
            ${{ runner.os }}

      - name: Build
        run: devbox run build

      - name: Test
        run: devbox run test
